@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@700&family=MedievalSharp&family=Monsieur+La+Doulaise&family=My+Soul&family=Roboto:wght@100&family=UnifrakturMaguntia&display=swap');

h1 {

	font-family: MedievalSharp;
	text-align: center;
	font-size: 55px;
	color: rgb(14, 42, 28);
}

body {background-image: url("dragon.jpg");
		background-size: cover;
}


.container {
		width: 170px;
        overflow: hidden;
    	margin: auto;
        margin: 20 0 0 450px;
        padding: 60px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px ;
  		border: 3px solid grey;

  	}

button {
		font-family: MedievalSharp;
		margin: auto;
		display: block;
		margin-top: 15px;
		border-radius: 15px;
}

label {

		margin: auto;
		text-align: center;
		color: rgb(255, 76, 0);
		font-family:MedievalSharp ;
		font-size: 15px;
}

input {
	margin: auto;
	display: block;
	font-family: MedievalSharp;
	text-align: center;
	border-radius: 15px;

}